[user]
	name = Hamish Hutchings
	email = hamhut1066@gmail.com
[push]
	#default = simple
[alias]
    co = checkout
    s = status
    d = diff --color
    a = add
    cm = commit -m
    l = log --color
[color]
	ui = true
