[user]
	name = Hamish Hutchings
	email = moredhel@aoeu.me
	signingkey = 4EB572F4
[alias]
    co = checkout
    s = status --short
    ss = status
    d = diff --color
    ds = diff --staged --color
    a = add
    cm = commit
    l = log --color
    b = branch
    mt = mergetool
	short-recent = "for-each-ref --count=25 --sort=committerdate refs/heads/ --format='%(refname:short)'"
	fco = "!git short-recent | fzf --print0 | xargs -0 -t git checkout"
[color]
	ui = true
[merge]
	conflictstyle = diff3
	tool = vimdiff
[mergetool]
	prompt = false
[core]
	autocrlf = input
	excludesfile = /home/moredhel/.gitignore_global
[push]
	default = simple
[rerere]
	enabled = 1
