*background: #141314
*foreground: #ccc2a6
!black
*color0:    #322a2c
*color8:    #46423b
!!red
*color1:    #70473a
*color9:    #916255
!!green
*color2:    #534d35
*color10:   #858167
!!yellow
*color3:    #9c7650
*color11:   #ad8650
!!blue
*color4:    #473e38
*color12:   #75715e
!!magenta
*color5:    #543b3b
*color13:   #7b5d51
!!cyan
*color6:    #434450
*color14:   #586868
!!white
*color7:    #9a875f
*color15:   #917154
Xcursor.theme: scalable
Xcursor.size: 13
URxvt*.transparent: true
! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
URxvt*.shading: 5
URxvt.scrollstyle: plain
URxvt.scrollBar: none
!URxvt.font: heb8x13

xterm*termname: xterm-256color
XTerm*locale: true
XTerm*metaSendsEscape: true
URxvt.font: xft:terminus:size=8
URxvt.letterSpace: -1
URxvt.cursorColor: #794742
