#dwb_hover_element { display:none!important; }
html
{
background-color:#b5b5b5!important;
}
body
{
background-color:#b5b5b5!important;
}
head
{
background-color:#b5b5b5!important;
}
header
{
background-color:#b5b5b5!important;
}
footer
{
background-color:#b5b5b5!important;
}
